* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.join-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 2;
}
.join-window {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 568px;
  padding: 24px;
  line-height: 20.02px;
  z-index: 10;
}
.join-window a {
  text-decoration: none;
  color: rgb(0, 132, 137);
  font-weight: 800;
}
.join-window a:hover {
  text-decoration: underline;
}
.join-popup .form {
  width: 504px;
  padding: 10px 22px;
  width: 100%;
  display: inline-block;
  margin-bottom: 7px;
  border-radius: 4px;
}
.join-popup .form:hover {
  cursor: pointer;
}

.join-popup .logo i {
  font-weight: 800;
}

.join-popup .fbook-login {
  background-color: #4568b2;
  color: white;
  text-align: center;
  border: 2px solid #4568b2;
}
.join-popup .google-login {
  background-color: white;
  text-align: center;
  border: 2px solid gray;
}
.join-popup .email {
  background-color: rgb(255, 90, 95);
  text-align: center;
  color: white;
  border: 2px solid rgb(255, 90, 95);
}

.join-popup .close-button > button {
  background-color: white;
  border-width: 0px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 8px;
}
.join-popup .line-combo {
  text-align: center;
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
}
.join-popup .line-combo > span {
  font-weight: 800;
  display: absolute;
}
.join-popup .line-left {
  width: 220px;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: relative;
  bottom: 10px;
}
.join-popup .line-right {
  width: 220px;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: relative;
  bottom: 10px;
}
.join-popup .linebar {
  margin-top: 15px;
  width: 504px;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.id_pw {
  width: 100%;
  /* padding: 15px; */
  margin: 5px 0 15px 0;
  display: flex;
}
.id_pw a {
  position: absolute;
  /* right: 0; */
  margin-right: 22px;
}
.text_input {
  width: 95%;
  padding: 15px;
  display: inline-block;
  border-left: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  border-right: 1px solid white;
}
.text_icon {
  width: 5%;
  padding: 15px 15px 15px 0px;
  position: relative;
  border-left: 1px solid white;
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  border-right: 1px solid rgb(235, 235, 235);
}
